body
{
	background-color: #EFEFEF;
	font-family: Arial;
	color : black;
}
div
{
	background-color: white;
	border-color: grey;
	border-style:  solid;
	border-width: 1px;
	border-radius: 15px;
	margin : 0px auto;
	width: 400px;
	padding: 50px;
	vertical-align: center;
	margin-top: 15vh;
}

h1
{
	color : #303030; 	
}

h2
{
	color : #b32400;
	font-size: 20px;
}

table
{
	width: 300px;
	margin: auto;
}

input[type="submit"]
{
	text-align: center;
	width: 94%;	
	background-color: #b32400;
	border-color: #b32400;
	color: white;
	font-style: bold;
}

a
{
	text-decoration: none;
	font-size: 14px;
	color : #b32400;
}
